DEBUG = True
#DEBUG = False

STATIC_URL = '/static_dasist/'
MEDIA_ROOT = '/mnt/shares/tmp/dasist/media/'
LOGIN_URL = '/dasist001/accounts/login/

DATABASES = {'default': {'ENGINE': 'django.db.backends.sqlite3', 'NAME': '/mnt/shares/tmp/dasist_real.db'}}
CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache',
        'LOCATION': 'unix:/tmp/memcached.sock',
    }
}