{% extends "scan/base.html" %}
{% block js %}
{{ form.media }}
<script type="text/javascript" src="{{ STATIC_URL }}js/chk_inn.js"></script>
<script type="text/javascript">
	function enable_suppX (v) {
		// switch supplier names enable/disable
		$('#id_suppname').prop( "readonly", !v );
		$('#id_suppfull').prop( "readonly", !v );
	};
	function inn_focus() {
		//console.log('focus');
		enable_suppX(true);
	};
	function inn_blur() {
		//console.log('blur');
		v = $('#id_suppinn').val()
		//console.log('INN: ' + v);
		result = checkINN(v);
		if (result == null) {
			console.log("ИНН OK");
			// clear error (if exists)
			// find inn in db
			json_to_suppX('{% url "core.views.org_get_by_inn" %}?inn=' + v);
		} else {
			console.log("ERR: " + result);
			enable_suppX(false);
		};
	};
	function json_to_suppX(url) {
		$.getJSON(url, function(data) {
			// if found:
			// * fill supp*;
			// * disable them;
			// * focus to id_billno
			if (data != null) {
				//console.log('Found:');
				//console.log('name='+data.name);
				$('#id_suppname').val(data.name);
				$('#id_suppfull').val(data.fullname);
				enable_suppX(false);
				$('#id_no').focus();
			};
			//console.log(data);
		})
	};
	$(document).ready(function() {
		$('#id_suppinn').focus(function() {inn_focus();});
		$('#id_suppinn').blur(function() {inn_blur();});
	});
</script>
{% endblock %}
{% block body_main %}
   <form enctype="multipart/form-data" action="" method="POST">
	{% csrf_token %}
	<table border="1">
		{{ form.as_table }}
 <tr>
  <td> Оригинал: </td>
  <td> <ol style="margin: 0">
   {% for img in object.fileseq.fileseqitem_set.all %}
    <li>
     <a href="{% url 'core.views.file_get' img.pk %}" data-lightbox="roadtrip"> <img src="{{ STATIC_URL }}img/32/png.png" title="{{ img.file.name }}"/> </a>
     <a href="{% url 'core.views.file_get' img.pk %}"> <img src="{{ STATIC_URL }}img/32/download.png" title="Скачать"/> </a>
    </li>
   {% endfor %}
  </ol> </td>
 </tr>
	</table>
	<button type="submit"> Записать </button>
	<a href="{% url 'scan_view' object.pk %}"> <button type="button"> Отказаться </button> </a>
   </form>
{% endblock %}
