{% extends "scan/base.html" %}
{% block js %}
{{ form.media }}
<script type="text/javascript">
	function inn_focus() {
		console.log('focus');
		$('#id_suppname').prop( "disabled", false );
		$('#id_suppfull').prop( "disabled", false );
	};
	function inn_blur() {
		console.log('blur');
		$('#id_suppname').prop( "disabled", true );
		$('#id_suppfull').prop( "disabled", true );
	};
	$(document).ready(function() {
		$('#id_suppinn').focus(function() {inn_focus();});
		$('#id_suppinn').blur(function() {inn_blur();});
	});
</script>
{% endblock %}
{% block body_main %}
   <form enctype="multipart/form-data" action="" method="POST">
	{% csrf_token %}
	<table border="1">
		{{ form.as_table }}
 <tr>
  <td> Оригинал: </td>
  <td> <ol style="margin: 0">
   {% for img in object.fileseq.fileseqitem_set.all %}
    <li>
     <a href="{% url 'core.views.file_get' img.pk %}" data-lightbox="roadtrip"> <img src="{{ STATIC_URL }}img/32/png.png" title="{{ img.file.name }}"/> </a>
     <a href="{% url 'core.views.file_get' img.pk %}"> <img src="{{ STATIC_URL }}img/32/download.png" title="Скачать"/> </a>
    </li>
   {% endfor %}
  </ol> </td>
 </tr>
	</table>
	<button type="submit"> Записать </button>
	<a href="{% url 'scan_view' object.pk %}"> <button type="button"> Отказаться </button> </a>
   </form>
{% endblock %}
