{% extends "core/fileseq_base.html" %}
{% block body_main %}
{{ form.media }}
<ul>
{% for img in object.fileseqitem_set.all %}
 <li>
	{{ img.order }}
	<a href="{% url core.views.file_view img.file.pk %}"> {{ img.file.name }} </a>
	<a href="{% url core.views.fileseqitem_del img.pk %}"> {% include "button/delete.html" %} </a>
 </li>
{% endfor %}
</ul>
<form enctype="multipart/form-data" action="" method="POST">
	{% csrf_token %}
	<table border="0"> <tr>
	<td> {{ form.as_p }} </td>
	<td> <button type="submit"> Добавить </button> </td>
	</tr> </table>
</form>
<a href="{% url core.views.fileseq_del object.pk %}"> {% include "button/delete.html" %} </a>
{% endblock %}
