img.svgbutton {
	border: 1px solid silver;
	background-color: #F0F0F0;
	// border-color: black;
	border-radius: 5px;
	padding: 5px;
	margin: 0px;
	cursor: pointer;
	width: 24px;
}
img.svgsubbutton {
	border: 1px solid silver;
	background-color: #F0F0F0;
	// border-color: black;
	border-radius: 5px;
	padding: 0px 5px;
	margin: 0px;
	cursor: pointer;
	width: 24px;
}

img.svgimg {
	cursor: pointer;
	width: 24px;
	padding: 5px;
}

button.plain {
	border: 1px solid silver;
	background-color: #F0F0F0;
	border-radius: 5px;
	padding: 0px 5px;
	margin: 0px;
	cursor: pointer;
	//color: none;
	height: 24px;
}
