{% extends "base.html" %}
{% block jsready %}
$("#tm_about").addClass("active");
{% endblock %}
{% block body_main %}
<h1> Система согласования счетов v.0.0.2 </h1>
<p> <i> 2014-02-26 .. 2014-04-24; начало реальной работы </i> </p>
<h2> Изменения с v.0.0.1: </h2>
 <ol>
  <li> Состояний - не 4 (Черновик/В пути/Исполнен/Завернут), а 5 (+ "В оплате"). </li>
  <li> Маршрут формируется не вручную, а автоматом (выбирается только Руководитель). </li>
  <li> Ролей - не 3, а 6. </li>
  <li> Директор и Бухгалтер не фиксирован. </li>
  <li> Бухгалтера проходит 2 раза (В оплате, Исполнено). </li>
  <li> Архив счетов ("Сканы"; примитивно). </li>
  <li> Тюнинг:
   <ul>
    <li> Улучшено конвертирование PDF. </li>
    <li> Значки на педалях. </li>
    <li> Фильтр Все/Входящие. </li>
    <li> Список счетов - постранично. </li>
    <li> Управление кол-вом счетов на странице. </li>
    <li> Обратный порядок счетов. </li>
    <li> Список счетов - раскрашен. </li>
    <li> Сообщение по email. </li>
    <li> Список счетов - каждый видит только то, что ему положено. </li>
   </ul>
  </li>
  <li> Изменена структура базы (тотально). </li>
 </ol>

<hr/>
<h2> Демо вход: </h2>
<ol>
 <li> user11..user13 - Исполнитель </li>
 <li> user21 - Начальник ОМТС </li>
 <li> user31..user33 - Руководитель </li>
 <li> user41..user43 - Директор </li>
 <li> user51 - ГенДиректор </li>
 <li> user61..user62 - Бухгалтер </li>
</ol>

{% endblock %}
