{% extends "base.html" %}
{% block jsready %}
$("#tm_about").addClass("active");
{% endblock %}
{% block body_main %}
<h1> Система согласования счетов v.0.0.1 </h1>
<p> <i> 2013-12-24 .. 2014-02-16 </i> </p>
<h2> 1. Роли </h2>
 <ol>
  <li> Исполнитель (Создание/Редактирование/Удаление/Запуск/Перезапуск/Просмотр счета) </li>
  <li> Согласователь (Согласование/Заворачивание своего счета, просмотр всех счетов) </li>
  <li> Бухгалтер (Исполнение/Заворачивание согласованного счета) </li>
 </ol>
<h2> 2. Состояния счета </h2>
 <ol>
  <li> Черновик </li>
  <li> В пути </li>
  <li> Исполнен </li>
  <li> Завернут </li>
 </ol>
<h2> 3. Поля счета </h2>
 <ol>
  <li> Объект (строка) </li>
  <li> Направление (строка) </li>
  <li> Поставщик (строка) </li>
 </ol>
<h2> 4. Права: </h2>
 <ol>
  <li> Все: <ul>
   <li> Просмотр списка всех счетов </li>
   <li> Просмотр счета </li>
  </ul> </li>
  <li> Исполнитель: <ul>
   <li> Создание счета и его маршрута </li>
   <li> Редактирование счета (Черновик) </li>
   <li> Запуск по маршруту (с комментарием) </li>
   <li> Удаление счета (Черновик / Завернут) </li>
  </ul> </li>
  <li> Согласователь/Бухгалтер: <ul>
   <li> Согласовать / Завернуть (с опциональным комментарием). </li>
  </ul> </li>
 </ol>
<h2> 5. Как оно работает </h2>
 <ol>
  <li> Исполнитель создает счет, указывает реквизиты и маршрут - состояние "Черновик". </li>
  <li> Внимательно посмотрев на результат - запускает по маршруту (с опциональным комментарием) - состояние "В пути". </li>
  <li> Согласователь согласовывает его (опционально - с комментариями) - и счет двигается к следующему Согласователю. </li>
  <li> Конечная точка маршрута (бухгалтер) оплачивает счет, нажимает Accept - и счет возвращается к Исполнителю в состоянии "Согласован". </li>
  <li> Любая точка маршрута может завернуть счет (с комментариями) - счет вернется Исполнителю в состоянии "Завернут". </li>
 </ol>
 <p> (порядок согласователей в маршруте - мышкой вверх-вниз) </p>

{% endblock %}
